<?xml version="1.0"?>
<config>
  <modules>
    <Afone_Oneclicpay>
      <version>1.0.0</version>
    </Afone_Oneclicpay>
  </modules>
  <global>
    <models>
      <oneclicpay>
        <class>Afone_Oneclicpay_Model</class>
      </oneclicpay>
    </models>
    <helpers>
      <oneclicpay>
        <class>Afone_Oneclicpay_Helper</class>
      </oneclicpay>
    </helpers>
  </global>
  <default>
    <payment>
      <oneclicpay>
        <model>oneclicpay/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Paiement CB - OneClicPay</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <devise>EUR</devise>
        <langue>fr</langue>
        <url_gateway_config>HOMOLOGATION</url_gateway_config>
        <url_gateway_homologation>https://secure.homologation.oneclicpay.com</url_gateway_homologation>
        <url_gateway_production>https://secure.oneclicpay.com</url_gateway_production>
      </oneclicpay>
    </payment>
  </default>
  <frontend>
    <routers>
      <oneclicpay>
        <use>standard</use>
        <args>
          <module>Afone_Oneclicpay</module>
          <frontName>oneclicpay</frontName>
        </args>
      </oneclicpay>
    </routers>
    <translate>
       <modules>
           <Afone_Oneclicpay>
               <files>
                   <default>Afone_Oneclicpay.csv</default>
               </files>
           </Afone_Oneclicpay>
       </modules>
     </translate>
  </frontend>
  <adminhtml>
    <translate>
       <modules>
           <Afone_Oneclicpay>
               <files>
                   <default>Afone_Oneclicpay.csv</default>
               </files>
           </Afone_Oneclicpay>
       </modules>
     </translate>
  </adminhtml>
</config>
